<header class="head pb-2 pt-2 text-center bg-warning bg-light title"><h1 class="text-warning">TIME CAPSULE</h1></header>
    
<div class="about">
  <h3 class="title text-warning">WHAT IS TIME CAPSULE</h3>
  <p class="title explain">TIME CAPSULEは、過去から素敵な思い出を届けるサービスです。<br>
  写真をアルバム風に作成して、送りたい相手、送りたい年月を指定してください。<br>
  指定した年月、指定した相手にTIME CAPSULEが届きます。<br>
  あの日、あの時の大切な思い出を、大切な仲間達と共に掘り起こそう！</p>
  <button class="btn btn-warning text-white title">TIME CAPSULEに登録</button>
  <button class="btn btn-primary text-white title">TIME CAPSULEにログイン</button>
</div>

<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
    <li data-target="#carousel" data-slide-to="3"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
          <img src="../picture/c45117c7a9e03c9c2c764adbfc6c33b9_s.jpg" class="slideshow .d-block.w-100">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="title example">大切な仲間</h5>
          </div>
      </div>
    <div class="carousel-item">
      <img src="../picture/402d303e07bb30e42a1cc095b01e38de_s.jpg" class="slideshow .d-block.w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="example">旅先の思い出</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../picture/1079e30881dfd7d9d5a8669e0ad4585f_s.jpg" class="slideshow .d-block.w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="example">共に汗を流した日々</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../picture/6e19ffbf84145b3bb6cad03da659d652_s.jpg" class="slideshow .d-block.w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="example">あの日、あの場所</h5>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<footer class="footer  bg-light mw-100">
   <ul class=" gide text-right">
     <li class="text-warning gideline">利用規約</li>
     <li class="text-warning gideline">プライバシーポリシー</li>
     <li class="text-warning gideline">特定商取引に関する表記</li>
   </ul>
</footer>