    
<div class="about">
  <h3 class="title text-warning">WHAT IS TIME CAPSULE</h3>
  <p class="title explain">TIME CAPSULEは、過去から素敵な思い出を届けるサービスです。<br>
  写真をアルバム風に作成して、送りたい相手、送りたい年月を指定してください。<br>
  指定した年月、指定した相手にTIME CAPSULEが届きます。<br>
  あの日、あの時の大切な思い出を、大切な仲間達と共に掘り起こそう！</p>
  <button class="btn btn-about btn-warning"><a href="/signup" class="text-white title">TIME CAPSULEに登録</a></button><br>
  <button class="btn btn-about btn-primary "><a href="/login" class="text-white title">TIME CAPSULEにログイン</a></button>
</div>

<div class="img">
  <h2 class="title text-warning coment">Driver the Memories</h2>
</div>

