<div class="about_wrapper bg-white">
    <header class="head pb-2 pt-2 text-center bg-warning bg-light title"><h1><a href="/" class="text-warning">TIME CAPSULE</a></h1></header>
   
<div class="about">
  <h3 class="title text-warning">WHAT IS TIME CAPSULE</h3>
  <p class="title explain d-none d-sm-block">TIME CAPSULEは、過去から素敵な思い出を届けるサービスです。<br>
  写真をアルバム風に作成して、送りたい相手、年月を指定してください。<br>
  指定した年月、指定した相手にTIME CAPSULEが届きます。<br>
  あの日、あの時の大切な思い出を、大切な仲間達と共に掘り起こそう！</p>
  <p class="title explain d-sm-none px-5">TIME CAPSULEは、<br>過去から素敵な思い出を届けるサービスです。<br>
  写真をアルバム風に作成して、<br>送りたい相手、年月を<br>指定してください。<br>
  指定した年月、指定した相手に<br>TIME CAPSULEが届きます。<br>
  あの日、あの時の大切な思い出を、<br>大切な仲間達と共に掘り起こそう！</p>
  <button class="btn btn-about btn-warning"><a href="/signup" class="text-white title">TIME CAPSULEに登録</a></button><br>
  <button class="btn btn-about btn-primary "><a href="/how_to_use" class="text-white title">TIME CAPSULEの使い方</a></button>
</div>

<div class="img">
  <h2 class="title text-warning coment">Driver the Memories</h2>
</div>

</div>

