<div class="use_wrapper bg-white">
    <header class="head pb-2 pt-2 mb-3 text-center bg-warning bg-light title"><h1><a href="/" class="text-warning">TIME CAPSULE</a></h1></header>
   
    <h3 class="title text-warning mt-4 ml-5 creation_method">TIME CAPSULEの作成方法</h3>
  <div class="container mt-4 bg-white mx-auto">
   <div class="row mx-auto text-center py-3">
  
    <div class"col-sm-12 col-md-4 process1 row-eq-height mx-auto text-center mb-2">
     <div class="h4 pt-2">① お気に入りの写真をアップロード</div>
     <img src="<%="/screen1.jpeg"%>" class="img-fluid create_method">
    </div>

    <div class="col-sm-0 col-md2 row-eq-height mx-auto">
     <span class="fa fa-caret-right fa-4x pt-5 mx-auto"></span>
    </div>

    <div class"col-sm-12 col-md-4 process2 row-eq-height mx-auto text-center mb-2">
     <div class="h4 pt-2">② 送付先、Timecapsuleのタイトル、メッセージを記入</div>
     <img src="<%="/screen3.jpeg"%>" class="img-fluid create_method">
    </div>

    <div class"col-sm-12 col-md-4 process3 mt-2 mr-2 row-eq-height mx-auto text-center">
     <div class="h4 pt-2">③ レイアウト背景とページ数を設定</div>
     <img src="<%="/screen2.png"%>" class="img-fluid create_method">
    </div>

    <div class="col-sm-0 col-md2 row-eq-height mx-auto">
     <span class="fa fa-caret-right fa-4x pt-5 mx-auto"></span>
    </div>

    <div class"col-sm-12 col-md-4 process4 mt-2 row-eq-height mx-auto text-center">
     <div class="h4 px-4 pt-2">④ 好きな写真を好きなサイズ、好きな位置に配置</div>
     <img src="<%="/screen4.png"%>" class="img-fluid create_method">
    </div> 

   </div>
  </div>
 


</div>