<div class="use_wrapper bg-white">
    <header class="head pb-2 pt-2 mb-3 text-center bg-warning bg-light title"><h1><a href="/" class="text-warning">TIME CAPSULE</a></h1></header>
   
<div class="use">
  <h3 class="title text-warning">SAMPLE(TIME CAPSULEの使い方)</h3>
  <h4 class="title explain">使い方はとてもシンプル</h4>
  <P>①使用する写真を選択し、アップロード<br>
  ②好きなページに写真をレイアウト<br>
  ③メッセージを添付<br>
  ④送信する相手、送信する年月日を指定</p>
  <h4 class="title explain">大切な人と思い出を共有しよう</h4>
  <button class="btn btn-about btn-warning"><a href="/signup" class="text-white title">TIME CAPSULEに登録</a></button><br>
  <button class="btn btn-about btn-primary "><a href="/login" class="text-white title">TIME CAPSULEにログイン</a></button>
</div>


</div>