 
    <header class="head pb-2 pt-2 text-center bg-warning bg-light title"><h1 class="text-warning"><a href="/">TIME CAPSULE</a></h1></header>
    
    <nav class="navbar navbar-expand-md navbar-white bg-warning my-4 py-3">
        <h7 ><a href="/about" class="about title text-white">WHAT IS TIME CAPSULE</a></h7>
    </nav>

    <div class="container top-wrapper  text-center">
        
      <div class="content pt-3 pb-2 bg-light">
        <h2 class="text-warning title pb-3">DRIVER THE MEMORIES</h2>
        <ul class="d-inline-block pr-5 py-4">
         <h6 class="d-inline action">これから始める方</h6><br>
         <a class="btn btn-sm btn-primary bg-warning border-warning title mt-2" href="../../components/navbar/" role="button">TIME CAPSULEに登録</a>
        </ul>
        <ul class="d-inline-block pr-5 py-4">
         <P class="d-inline action">登録済みの方</P><br> 
         <a class="btn btn-sm btn-primary title mt-2" href="../../components/navbar/" role="button">TIME CAPSULEにログイン</a>
        </ul>
      </div>
    </div>


    
   <footer class="footer fixed-bottom bg-light mw-100 mt-2">
       <ul class=" gide text-right">
         <li class="text-warning gideline">利用規約</li>
         <li class="text-warning gideline">プライバシーポリシー</li>
         <li class="text-warning gideline">特定商取引に関する表記</li>
       </ul>
   </footer>

