<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Timcapsuleへの登録が完了しました</h4>
    <p>
      ユーザー名：<%= @user.name %><br>
      メール：<%= @user.email %><br>
      パスワード:<%= @user.password %><br>
      下記リンクからTimecapsuleを作成しよう！<br>
      <%= link_to("Start a Timecapsule", controller: :home, action: :top) %>   
    </p>
  </body>
</html>
