<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> <%= @user.name %>様からTimcapsuleが届いています。</h2>
    <p>
      下記URLからご覧ください<br>
      <%= @url %>
    </p>
  </body>
</html>