<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> <%= @user.name %>さんからTimcapsuleが届いています。</h2>
    <p>
      下記リンクよりご覧ください<br>
      <%= link_to("Timecapsule for you", controller: :picture, id: @picture.id, action: :redirect, sent: :email) %>   
    </p>
  </body>
</html>

