// Place all the styles related to the picture controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    box-sizing: border-box;
}

  .upload{
      border-top:solid 1px;
      border-color:lightgray;
  }

  .sample_picture{
    max-width:450px;
    max-height:400px;
  }

  .sample_picture2{
    max-width:220px;
    max-height:150px;
  }

  .config_sample{
    max-width:450px;
    max-height:400px;
  }

  .config_sample2{
    max-width:300px;
    max-height:200px;
    transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);  
    border-radius:3px;
  }

  .config_sample3{
    max-width:250px;
    max-height:180px;
    transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);  
  }

  .keyboad{
      border-radius:3px;
      background-color:gray;
  }

  .config{
      border-right:solid 1px;
      border-right-color:lightgray;
  }

.cd_page_next{
    background-color:orange;
    border-radius:3px;
}

.cd_page_pre{
    background-color:orange;
    border-radius:3px;
}

  .advice{
      color:gray;
  }

  .btn-upload{
    width:300px;
}

.btn-upload:hover{
    opacity:0.7;
}

.input_time{
    display:inline-block;
    text-align:center;
    width:400px;
    
}

.create_album input{
    background-color:orange;
    color:white;
    border-radius:5px;
    padding:5px 0;
}

.create_send_album input{
    background-color:rgb(22, 192, 235);
    color:white;
    border-radius:5px;
    padding:5px 0;
}

.create_album input:hover{
    opacity:0.7;
}

.create_send_album input:hover{
    opacity:0.7;
}

.image_button{
    width:190px;
}

.image_destroy{
    display:inline-block;
    background-color:rgb(74, 185, 236);
    color:white;
    width:190px;
    border-radius:5px;
    padding:5px 0;
    text-align:center;
}

.sent_email{
    display:inline-block;
    background-color:rgb(76, 243, 126);
    color:white;
    width:190px;
    border-radius:5px;
    padding:5px 0;
    text-align:center;
    margin-top:10px;
}

.image_edit{
    display:inline-block;
    background-color:rgb(243, 183, 18);
    color:white;
    width:190px;
    border-radius:5px;
    padding:5px 0;
    text-align:center;
    
}

 .album{
     margin:0 auto;
 }

 .card-body{
     text-align:center;
 }

.row-eq-height{
    background:white;
    display: flex;
    flex-wrap: wrap;
}

.image_nil{
    display:inline-block;
    background-color:rgb(243, 183, 18);
    color:white;
    width:300px;
    border-radius:5px;
    padding:10px;
    text-align:center;
    
}

.image_show_top{
    max-height:700px;
}

.image_show {
    margin:30px auto;   
    text-align:center;
    width:60%;
}

.image_title .image_coment{
    text-align:left;
    font-weight:bold;
}

.image_explain{
    width:80%;
    margin:0 auto;
    border-radius:5px;
}

.btn-default{
    width:190px;
}

.btn-default:hover{
    opacity:0.7;
}

.card-img-top:hover{
    opacity:0.7;
}

.show_wrapper{
    min-height:90vh;
}

 
